{% extends 'base/base.html' %}

{% block title %} {% endblock %}

{% block header %} 

{% endblock %}

{% block content %} 

  <main class="px-10">
    <h1>¡Bienvenido a Archinon!</h1>   
    <p class="lead">Sube tus archivos, imagenes o videos sin restricciones o registro de manera facil, rapida y anonima.</p>
    <h4>¿Com subir tus Archivos?</h4>
    <p class="lead">Elija el tipo de archivo que desea subir  y seleccionelo, una vez el archivo se haya subido se generara
      un link unico con el cual cualquiera que tenga este link podra acceder a descargar el archivo que se ha subido. </p>
  </main>
  
{% endblock %}